## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [24]:
print(app_train.index.size)
print(app_train.columns.size)
app_train.index.size , app_train.columns.size

307511
122

(307511, 122)

#### 列出所有欄位

In [32]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

# 截取部分資料 
前十筆col 10:15的資料

In [59]:
df=[]
for i in range(10,15):
    df.append(app_train[app_train.columns[i]][0:10])
res=pd.concat(df,axis=1,join="outer")
print(res)

   AMT_GOODS_PRICE  NAME_TYPE_SUITE      NAME_INCOME_TYPE  \
0         351000.0    Unaccompanied               Working
1        1129500.0           Family         State servant
2         135000.0    Unaccompanied               Working
3         297000.0    Unaccompanied               Working
4         513000.0    Unaccompanied               Working
5         454500.0  Spouse, partner         State servant
6        1395000.0    Unaccompanied  Commercial associate
7        1530000.0    Unaccompanied         State servant
8         913500.0         Children             Pensioner
9         405000.0    Unaccompanied               Working

             NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS
0  Secondary / secondary special  Single / not married
1               Higher education               Married
2  Secondary / secondary special  Single / not married
3  Secondary / secondary special        Civil marriage
4  Secondary / secondary special  Single / not married
5  Secondary / secondary special               Married
6               Higher education               Married
7               Higher education               Married
8  Secondary / secondary special               Married
9  Secondary / secondary special  Single / not married

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子